{% extends 'base.html.twig' %}

{% block body %}
    <h1>Typeverre</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ typeverre.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ typeverre.libelle }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if typeverre.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ typeverre.slug }}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ typeverre.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ typeverre.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ typeverre.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ typeverre.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typeverre_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('typeverre_edit', { 'id': typeverre.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
