{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Gestion des bases {% endblock %}

{% block body %}
    <div class="container mt-0">
        <div class="row breadcrumb-bar">
            <div class="col-md-6">
                <h3 class="block-title">Gestion des bases</h3>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">
                            <span class="ti-home"></span>
                        </a>
                    </li>
                    <li class="breadcrumb-item">Parametres</li>
                    <li class="breadcrumb-item active">bases</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="widget-area-2 proclinic-box-shadow">
                    <h3 class="widget-title">Listes des bases</h3>
                    {% for base in bases %}
                        <div class="row">
                            <div class="col-md-12">
                                <img src="{{ asset('uploads/'~base.imageName) }}" alt="">
                            </div>
                            <div class="col-md-12">
                                {{ base.libelle }}
                            </div>
                            <div class="col-md-12">
                                {{ base.description|raw }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a href="{{ path('base_edit', {'id': base.id}) }}" class="btn btn-primary">Modifier</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-6">
                <div class="widget-area-2 proclinic-box-shadow">
                    <h3 class="widget-title">Creer une bases</h3>
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="">Logo</label>
                            {{ form_widget(form.imageFile) }}
                        </div>
                        <div class="form-group col-md-12">
                            <label for="appbundle_base_libelle">Slogan</label>
                            {{ form_widget(form.libelle) }}
                        </div>
                        <div class="form-group col-md-12">
                            <label for="appbundle_base_libelle">Localisation et contact</label>
                            {{ form_widget(form.description) }}
                        </div>
                        <div class="form-check col-md-12 mb-2">
                            <div class="text-left">
                                <div class="custom-control custom-checkbox">
                                    {{ form_widget(form.statut) }}
                                    <label class="custom-control-label" for="appbundle_base_statut">Activé</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12 mb-5 text-right">
                            <button type="submit" class="btn btn-primary btn-lg">Enregistrer</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ absolute_url(asset('ressources/datatable/dataTables.bootstrap4.min.css')) }}">
    <link href="{{ asset('ressources/vendor/summernote/summernote-bs4.css') }}" rel="stylesheet">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ absolute_url(asset('ressources/datatable/jquery.dataTables.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('ressources/datatable/dataTables.bootstrap4.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('ressources/js/custom-datatables.js')) }}"></script>
    <script src="{{ asset('ressources/vendor/summernote/summernote-bs4.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#appbundle_base_description').summernote({
                height: 200,                 // set editor height
                minHeight: null,             // set minimum height of editor
                maxHeight: null,             // set maximum height of editor
                focus: true                  // set focus to editable area after initializing summernote
            });
        });
    </script>
{% endblock %}
