<!DOCTYPE html>
<html lang="fr">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}VisioPlus 3.0 ::{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{{ absolute_url(asset('favicon.ico')) }}">
	{% block stylesheets %}
		{% stylesheets
			'ressources/css/bootstrap.min.css'
			'ressources/css/themify-icons.css'
			'ressources/css/animate.css'
			'ressources/css/styles.css'
			'ressources/css/green.css'
			'ressources/css/responsive.css'
			'ressources/charts/css/morris.css'
			'ressources/css/jquery-jvectormap.css'
			filter='cssrewrite' output='ressources/css/visioplus.css'
		%}
            <link rel="stylesheet" href="{{ absolute_url(asset_url)}}" id="style_theme" />
		{% endstylesheets %}
	{% endblock %}
    <script src="{{ absolute_url(asset('ressources/js/modernizr.min.js')) }}"></script>
</head>

<body>
<!--<div class="loading">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>-->

<div class="wrapper">
    <div id="content">
        <div class="container top-brand">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <div class="sidebar-header"> <a href="{{ path('homepage') }}"><img src="{{ absolute_url(asset('ressources/images/logo.png')) }}" class="logo" alt="logo"></a>
                    </div>
                </div>
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link">
                            <span title="Fullscreen" class="ti-fullscreen fullscreen"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target=".proclinic-modal-lg">
                            <span class="ti-search"></span>
                        </a>
                        <div class="modal fade proclinic-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-lorvens">
                                <div class="modal-content proclinic-box-shadow2">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Rechercher/</h5>
                                        <span class="ti-close" data-dismiss="modal" aria-label="Close">
											</span>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" action="{{ path('recherche') }}">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="search" id="search-term" placeholder="Rechercher ici">
                                                <button type="button" class="btn btn-lorvens proclinic-bg">
                                                    <span class="ti-location-arrow"></span> Rechercher</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <span class="ti-announcement"></span>
                        </a>
                        <div class="dropdown-menu proclinic-box-shadow2 notifications animated flipInY">
                            <h5>Notifications</h5>
                            <a class="dropdown-item" href="#">
                                <span class="ti-wheelchair"></span> New Patient Added</a>
                            <a class="dropdown-item" href="#">
                                <span class="ti-money"></span> Patient payment done</a>
                            <a class="dropdown-item" href="#">
                                <span class="ti-time"></span>Patient Appointment booked</a>
                            <a class="dropdown-item" href="#">
                                <span class="ti-wheelchair"></span> New Patient Added</a>
                        </div>
                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <span class="ti-user"></span>
                        </a>
                        <div class="dropdown-menu proclinic-box-shadow2 profile animated flipInY">
                            <h5>Delrodie Amoikon</h5>
                            <a class="dropdown-item" href="#">
                                <span class="ti-settings"></span> Changer le mot de passe</a>
                            <a class="dropdown-item" href="{{ absolute_url(path('fos_user_security_logout')) }}">
                                <span class="ti-power-off"></span> Deconnexion</a>
                        </div>
                    </li>
                </ul>

            </nav>
        </div>
        <!-- Menu -->
        <div class="container menu-nav">
            <nav class="navbar navbar-expand-lg proclinic-bg text-white">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="ti-menu text-white"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown {% if (current_menu == 'dashboard') %}active{% endif %}">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                               aria-expanded="false"><span class="ti-home"></span> Tableau de bord</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('homepage') }}">Statistiques</a>
                                {% if is_granted("ROLE_ADMIN") %}
                                    <a class="dropdown-item" href="{{ absolute_url(path('recherche_caisse')) }}">Points caisses</a>
                                    <a class="dropdown-item" href="{{ absolute_url(path('recherche_assurance_index')) }}">Points assurances</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="nav-item dropdown {% if (current_menu == 'client') %}active{% endif %}">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                               aria-expanded="false"><span class="ti-wheelchair"></span> Clients</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ absolute_url(path('client_new')) }}">Ajouter un client</a>
                                <a class="dropdown-item" href="{{ absolute_url(path('client_index')) }}">Tous les clients</a>
                            </div>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item dropdown {% if(current_menu == 'monture') %}active{% endif %}">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                   aria-expanded="false"><span class="ti-user"></span> Montures</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ absolute_url(path('marque_index')) }}">Marques</a>
                                    <a class="dropdown-item" href="{{ absolute_url(path('monture_index')) }}">Montures</a>
                                    <!--<a class="dropdown-item" href="#">Fournisseurs</a>
									<a class="dropdown-item" href="#">Approvisionnements</a>
									<a class="dropdown-item" href="#">Destockage</a>-->
                                </div>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item dropdown {% if (current_menu == 'verre') %}active{% endif %}">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                   aria-expanded="false"><span class="ti-pencil-alt"></span> Verres</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ absolute_url(path('typeverre_index')) }}">Types verres</a>
                                    <!--<a class="dropdown-item" href="#">Fournisseurs</a>
									<a class="dropdown-item" href="#">Approvisionnements</a>
									<a class="dropdown-item" href="#">Destockage</a>-->
                                </div>
                            </li>
                        {% endif %}
                        <li class="nav-item dropdown {% if (current_menu == 'facture') %}active{% endif %}">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                               aria-expanded="false"><span class="ti-money"></span> Facturations</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ absolute_url(path('facture_index')) }}">Ventes</a>
                                <a class="dropdown-item" href="{{ absolute_url(path('versement_index')) }}">Versements</a>
                                <!--<a class="dropdown-item" href="#">Payment Invoice</a>-->
                            </div>
                        </li>
                        <li class="nav-item dropdown {% if (current_menu == 'livraison') %} active {% endif %}">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                               aria-expanded="false"><span class="ti-key"></span> Rendez-vous</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('rdv_index') }}">Liste des RDV</a>
                                <a class="dropdown-item" href="#">Liste des livraisons</a>
                            </div>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item dropdown {% if (current_menu == 'parametre') %} active {% endif %}">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                   aria-expanded="false"><span class="ti-file"></span> Paramètres</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ absolute_url(path('assurance_index')) }}">Assurances </a>
                                    <a class="dropdown-item" href="{{ absolute_url(path('traitement_index')) }}">Traitements</a>
                                    <a class="dropdown-item" href="{{ absolute_url(path('peniche_index')) }}">Peniche</a>
                                    <a class="dropdown-item" href="{{ absolute_url(path('base_index')) }}">Parametrage</a>
                                    <!--<a class="dropdown-item" href="{{ absolute_url(asset('ressources/docs/optique-staint-esther.pdf')) }}" target="_blank">Fiche client</a>-->
                                    <a class="dropdown-item" href="#">Utilisateurs</a>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
        <!-- /Menu -->
        {% block body %} {% endblock %}

        <div class="container">
            <div class="d-sm-flex justify-content-center">
                <span class="text-muted text-center d-block d-sm-inline-block">Copyright © 2019 <a href="#" target="_blank">ESTHETE</a>. Tous droits reservés.</span>
            </div>
        </div>
        <!-- /Copy Rights-->
    </div>
    <!-- /Page Content -->
</div>
<!-- Back to Top -->
<a id="back-to-top" href="#" class="back-to-top">
    <span class="ti-angle-up"></span>
</a>

{% block javascripts %}
	{% javascripts
		'ressources/js/jquery-3.2.1.min.js'
		'ressources/js/popper.min.js'
		'ressources/js/bootstrap.min.js'
		'ressources/charts/js/raphael-min.js'
		'ressources/charts/js/morris.min.js'
		'ressources/js/custom-morris.js'
		'ressources/js/custom.js'
		output='backoffice/js/app.js'
	%}
        <script src="{{ absolute_url(asset_url)}}"></script>
	{% endjavascripts %}
    <script src="{{ absolute_url(asset('ressources/js/wow.js')) }}"></script>
    <script>
        new WOW().init();
    </script>
{% endblock %}
</body>

</html>
