{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} Tableau de bord{% endblock %}
{% block body %}
    <div class="container mt-0">
        <div class="row breadcrumb-bar">
            <div class="col-md-6">
                <h3 class="block-title">Statistiques du mois encours</h3>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">
                            <span class="ti-home"></span>
                        </a>
                    </li>
                    <li class="breadcrumb-item active">Accueil</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="container home">
        <div class="row">
            <!-- Widget Item -->
            <div class="col-md-4">
                <div class="widget-area proclinic-box-shadow color-red">
                    <div class="widget-left">
                        <span class="ti-user"></span>
                    </div>
                    <div class="widget-right">
                        <h4 class="wiget-title">Clients</h4>
                        <span class="numeric color-red">{{ clientMois|length }}</span>
                        <p class="inc-dec mb-0"><span class="ti-angle-up"></span> {{ clientTotal }}</p>
                    </div>
                </div>
            </div>
            <!-- /Widget Item -->
            <!-- Widget Item -->
            <div class="col-md-4">
                <div class="widget-area proclinic-box-shadow color-green">
                    <div class="widget-left">
                        <span class="ti-bar-chart"></span>
                    </div>
                    <div class="widget-right">
                        <h4 class="wiget-title">Rendez-vous</h4>
                        <span class="numeric color-green">1585</span>
                        <p class="inc-dec mb-0"><span class="ti-angle-down"></span> -15% Decreased</p>
                    </div>
                </div>
            </div>
            <!-- /Widget Item -->
            <!-- Widget Item -->
            <div class="col-md-4">
                <div class="widget-area proclinic-box-shadow color-yellow">
                    <div class="widget-left">
                        <span class="ti-money"></span>
                    </div>
                    <div class="widget-right">
                        <h4 class="wiget-title">Montures en stock</h4>
                        <span class="numeric color-yellow">$7300</span>
                        <p class="inc-dec mb-0"><span class="ti-angle-up"></span> +10% Increased</p>
                    </div>
                </div>
            </div>
            <!-- /Widget Item -->
        </div>

        <div class="row">
            <!-- Widget Item -->
            <div class="col-md-12">
                <div class="widget-area-2 proclinic-box-shadow">
                    <h3 class="widget-title">Les 10 dernières facturations</h3>
                    {% if (factures) %}
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">CLIENTS</th>
                                    <th class="text-center">MONTURES</th>
                                    <th class="text-center">DATES</th>
                                    <th class="text-center">STATUS</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for facture in factures|slice(0,10) %}
                                    <tr>
                                        <td class="text-left">{{ loop.index }}</td>
                                        <td>{{ facture.client.nom }} {{ facture.client.prenoms }}</td>
                                        <td>{{ facture.monture.marque.libelle }} {{ facture.monture.reference }}</td>
                                        <td class="text-center">{{ facture.publieLe|date('d-m-Y h:i:s')}}</td>
                                        <td class="text-center">
                                            {% if (facture.rap) %}
                                                <span class="badge badge-danger">Non soldée</span>
                                            {% else %}
                                                <span class="badge badge-success">Soldée</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        Aucune transaction pour l'instant
                    {% endif %}
                </div>
            </div>
            <!-- /Widget Item -->
        </div>

    </div>
{% endblock %}

