{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Gestion des utilisateurs {% endblock %}

{% block body %}
    <div class="container mt-0">
        <div class="row breadcrumb-bar">
            <div class="col-md-6">
                <h3 class="block-title">Gestion de utilisateurs</h3>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{ absolute_url(path('homepage')) }}">
                            <span class="ti-home"></span>
                        </a>
                    </li>
                    <li class="breadcrumb-item">utilisateurs</li>
                    <li class="breadcrumb-item active">utilisateurs</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="widget-area-2 proclinic-box-shadow">
                    <h3 class="widget-title">Creer une utilisateur</h3>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <a href="{{ absolute_url(path('admin_user_index')) }}" class="btn btn-primary mt-3 mb-0"><span class="ti-list"></span> Liste</a>
                        </div>
                    </div>
                    {% for message in app.flashes('notice') %}
                        <div class="alert alert-success alert-dismissible text-center fade show mt-2" role="alert">
                            <strong>{{ message }} </strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                    {% endfor %}
                    {{ form_start(edit_form) }}
                    <div class="row">
                        <div class="form-group col-md-10">
                            <div class="row">
                                <label class="col-md-4 text-right" for="appbundle_utilisateur_marque">Nom utiliateur</label>
                                <div class="col-md-8">
                                    {{ form_widget(edit_form.username)}}
                                    {{ form_errors(edit_form.username) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-10">
                            <div class="row">
                                <label class="col-md-4 text-right" for="appbundle_utilisateur_reference">Adresse email</label>
                                <div class="col-md-8">
                                    {{ form_widget(edit_form.email)}}
                                    {{ form_errors(edit_form.email)}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-10">
                            <div class="row">
                                <label class="col-md-4 text-right" for="appbundle_utilisateur_genre">Mot de passe</label>
                                <div class="col-md-8">
                                    {{ form_widget(edit_form.password)}}
                                    {{ form_errors((edit_form.password)) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-10">
                            <div class="row">
                                <label class="col-md-4 text-right" for="appbundle_utilisateur_col">Roles</label>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="custom-control custom-checkbox">
                                                {{ form_widget(edit_form.roles.0,{'attr':{'class':"custom-control-input"}})}}
                                                <label class="custom-control-label" for="appbundle_user_roles_0">Utilisateur</label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="custom-control custom-checkbox">
                                                {{ form_widget(edit_form.roles.1,{'attr':{'class':"custom-control-input"}})}}
                                                <label class="custom-control-label" for="appbundle_user_roles_1">Administrateur</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-check col-md-10 mb-2">
                            <div class="row">
                                <div class="col-md-6"></div>
                                <div class="col-md-4">
                                    <div class="text-left">
                                        <div class="custom-control custom-checkbox">
                                            {{ form_widget(edit_form.enabled,{'attr':{'class':"custom-control-input"}})}}
                                            <label class="custom-control-label" for="appbundle_user_enabled">Activer</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12 mb-5 text-right">
                            <input type="hidden" value="{{ user.password }}" name="old_password">
                            <button type="submit" class="btn btn-primary btn-lg">Modifier</button>
                        </div>
                    </div>
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ absolute_url(asset('ressources/datatable/dataTables.bootstrap4.min.css')) }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ absolute_url(asset('ressources/datatable/jquery.dataTables.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('ressources/datatable/dataTables.bootstrap4.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('ressources/js/custom-datatables.js')) }}"></script>
{% endblock %}
