{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Gestion des clients {% endblock %}

{% block body %}
    <div class="container mt-0">
        <div class="row breadcrumb-bar">
            <div class="col-md-6">
                <h3 class="block-title">Gestion des clients</h3>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{ absolute_url(path('homepage')) }}">
                            <span class="ti-home"></span>
                        </a>
                    </li>
                    <li class="breadcrumb-item">clients</li>
                    <li class="breadcrumb-item active">Modification</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="widget-area-2 proclinic-box-shadow">
                    <h3 class="widget-title">Modifier le client {{ client.nom }} {{ client.prenoms }}</h3>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <a href="{{ absolute_url(path('client_index')) }}" class="btn btn-primary mt-3 mb-0"><span class="ti-list"></span> Liste</a>
                        </div>
                    </div>
                    {% for message in app.flashes('notice') %}
                        <div class="alert alert-success alert-dismissible text-center fade show mt-2" role="alert">
                            <strong>{{ message }} </strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                    {% endfor %}
                    {{ form_start(edit_form) }}
                    <div class="row">
                        <div class="form-group col-md-10">
                            <div class="row">
                                <label class="col-md-4 text-right" for="appbundle_client_marque">Assurance <span style="color: red; font-weight: bold; font-size: 1.3em;">*</span></label>
                                <div class="col-md-8">
                                    {{ form_widget(edit_form.assurance) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-10">
                            <div class="row">
                                <label class="col-md-4 text-right" for="appbundle_client_garant">Garant</label>
                                <div class="col-md-8">
                                    {{ form_widget(edit_form.garant) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-10">
                            <div class="row">
                                <label class="col-md-4 text-right" for="appbundle_client_souscripteur">Scouscripteur</label>
                                <div class="col-md-8">
                                    {{ form_widget(edit_form.souscripteur) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-10">
                            <div class="row">
                                <label class="col-md-4 text-right" for="appbundle_client_ticketModerateur">Ticket Moderateur</label>
                                <div class="col-md-8">
                                    {{ form_widget(edit_form.ticketModerateur) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-10">
                            <div class="row">
                                <label class="col-md-4 text-right" for="appbundle_client_reference">Nom <span style="color: red; font-weight: bold; font-size: 1.3em;">*</span></label>
                                <div class="col-md-8">
                                    {{ form_widget(edit_form.nom) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-10">
                            <div class="row">
                                <label class="col-md-4 text-right" for="appbundle_client_genre">Prenoms <span style="color: red; font-weight: bold; font-size: 1.3em;">*</span></label>
                                <div class="col-md-8">
                                    {{ form_widget(edit_form.prenoms) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-10">
                            <div class="row">
                                <label class="col-md-4 text-right" for="appbundle_client_montant">Statut <span style="color: red; font-weight: bold; font-size: 1.3em;">*</span></label>
                                <div class="col-md-8">
                                    {{ form_widget(edit_form.sexe) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-10">
                            <div class="row">
                                <label class="col-md-4 text-right" for="appbundle_client_stock">Localisation</label>
                                <div class="col-md-8">
                                    {{ form_widget(edit_form.adresse) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-10">
                            <div class="row">
                                <label class="col-md-4 text-right" for="appbundle_client_stock">Contact <span style="color: red; font-weight: bold; font-size: 1.3em;">*</span></label>
                                <div class="col-md-4">
                                    {{ form_widget(edit_form.cel) }}
                                </div>
                                <div class="col-md-4">
                                    {{ form_widget(edit_form.tel) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-check col-md-10 mb-2">
                            <div class="row">
                                <div class="col-md-6"></div>
                                <div class="col-md-4">
                                    <div class="text-left">
                                        <div class="custom-control custom-checkbox">
                                            {{ form_widget(edit_form.statut) }}
                                            {% if client.statut %}
                                                <label class="custom-control-label" for="appbundle_client_statut">Désactivez</label>
                                            {% else %}
                                                <label class="custom-control-label" for="appbundle_client_statut">Activez</label>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12 mb-5 text-right">
                            <a href="{{ absolute_url(path('client_index')) }}" class="btn btn-secondary btn-lg">Annuler</a>
                            <button type="submit" class="btn btn-primary btn-lg">Modifier</button>
                        </div>
                    </div>
                    {{ form_end(edit_form) }}
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_start(delete_form, {'attr': {'onsubmit': 'return confirm("Êtes-vous sur de vouloir supprimer ce client ?");'}}) }}
                            <input type="submit" value="Supprimer" class="btn btn-danger btn-lg">
                            {{ form_end(delete_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ absolute_url(asset('ressources/datatable/dataTables.bootstrap4.min.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('ressources/css/select2.min.css')) }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ absolute_url(asset('ressources/datatable/jquery.dataTables.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('ressources/datatable/dataTables.bootstrap4.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('ressources/js/custom-datatables.js')) }}"></script>
    <script src="{{ absolute_url(asset('ressources/js/select2.full.min.js')) }}"></script>
    <script>
        $(".assurance-select").select2({
            tags: true
        });
    </script>
{% endblock %}
