{% extends 'base.html.twig' %}

{% block body %}
    <h1>Marque</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ marque.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ marque.libelle }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if marque.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ marque.slug }}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ marque.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ marque.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ marque.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ marque.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('marque_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('marque_edit', { 'id': marque.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
