{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} Gestion des montures {% endblock %}

{% block body %}
    <div class="container mt-0">
        <div class="row breadcrumb-bar">
            <div class="col-md-6">
                <h3 class="block-title">Gestion de montures</h3>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{ absolute_url(path('homepage')) }}">
                            <span class="ti-home"></span>
                        </a>
                    </li>
                    <li class="breadcrumb-item">Montures</li>
                    <li class="breadcrumb-item active">montures</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="widget-area-2 proclinic-box-shadow">
                    <h3 class="widget-title">Creer une montures</h3>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <a href="{{ absolute_url(path('monture_index')) }}" class="btn btn-primary mt-3 mb-0"><span class="ti-list"></span> Liste</a>
                        </div>
                    </div>
                    {% for message in app.flashes('notice') %}
                        <div class="alert alert-success alert-dismissible text-center fade show mt-2" role="alert">
                            <strong>{{ message }} </strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                    {% endfor %}
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="form-group col-md-10">
                            <div class="row">
                                <label class="col-md-4 text-right" for="appbundle_monture_marque">Marques</label>
                                <div class="col-md-8">
                                    {{ form_widget(form.marque) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-10">
                            <div class="row">
                                <label class="col-md-4 text-right" for="appbundle_monture_reference">References</label>
                                <div class="col-md-8">
                                    {{ form_widget(form.reference) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-10">
                            <div class="row">
                                <label class="col-md-4 text-right" for="appbundle_monture_genre">Genre</label>
                                <div class="col-md-8">
                                    {{ form_widget(form.genre) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-10">
                            <div class="row">
                                <label class="col-md-4 text-right" for="appbundle_monture_col">Col</label>
                                <div class="col-md-8">
                                    {{ form_widget(form.col) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-10">
                            <div class="row">
                                <label class="col-md-4 text-right" for="appbundle_monture_taille">Taille</label>
                                <div class="col-md-8">
                                    {{ form_widget(form.taille) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-10">
                            <div class="row">
                                <label class="col-md-4 text-right" for="appbundle_monture_montant">Montant</label>
                                <div class="col-md-8">
                                    {{ form_widget(form.montant) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-10">
                            <div class="row">
                                <label class="col-md-4 text-right" for="appbundle_monture_stock">Stock</label>
                                <div class="col-md-8">
                                    {{ form_widget(form.stock) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-check col-md-10 mb-2">
                            <div class="row">
                                <div class="col-md-6"></div>
                                <div class="col-md-4">
                                    <div class="text-left">
                                        <div class="custom-control custom-checkbox">
                                            {{ form_widget(form.statut) }}
                                            <label class="custom-control-label" for="appbundle_monture_statut">Activé</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12 mb-5 text-right">
                            <button type="submit" class="btn btn-primary btn-lg">Enregistrer</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ absolute_url(asset('ressources/datatable/dataTables.bootstrap4.min.css')) }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ absolute_url(asset('ressources/datatable/jquery.dataTables.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('ressources/datatable/dataTables.bootstrap4.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('ressources/js/custom-datatables.js')) }}"></script>
{% endblock %}
