{% extends 'base.html.twig' %}

{% block body %}
    <h1>Assurance</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ assurance.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ assurance.libelle }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if assurance.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ assurance.slug }}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ assurance.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ assurance.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ assurance.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ assurance.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('assurance_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('assurance_edit', { 'id': assurance.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
